<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>CodeBase</h2>
    <table>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/achievements">achievements</a></td>
        <td></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/achievements.png?branch=master" /></td>
        <td><img src="https://coveralls.io/repos/orionsbelt-battlegrounds/achievements/badge.png?branch=master" /></td>
        <td><a href="https://codeclimate.com/github/orionsbelt-battlegrounds/achievements"><img src="https://codeclimate.com/github/orionsbelt-battlegrounds/achievements.png" /></a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/api">api</a></td>
        <td><img src="https://www.statuscake.com/App/button/index.php?Track=PdHw36q4gx&Days=30&Design=5" /></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/api.png?branch=master" /></td>
        <td><img src="https://coveralls.io/repos/orionsbelt-battlegrounds/api/badge.png?branch=master" /></td>
        <td><a href="https://codeclimate.com/github/orionsbelt-battlegrounds/api"><img src="https://codeclimate.com/github/orionsbelt-battlegrounds/api.png" /></a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/battle-engine">battle-engine</a></td>
        <td></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/battle-engine.png?branch=master" /></td>
        <td><img src="https://coveralls.io/repos/orionsbelt-battlegrounds/battle-engine/badge.png?branch=master" /></td>
        <td><a href="https://codeclimate.com/github/orionsbelt-battlegrounds/battle-engine"><img src="https://codeclimate.com/github/orionsbelt-battlegrounds/battle-engine.png" /></a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/battle-engine-ai">battle-engine-ai</a></td>
        <td></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/battle-engine-ai.png?branch=master" /></td>
        <td><img src="https://coveralls.io/repos/orionsbelt-battlegrounds/battle-engine-ai/badge.png?branch=master" /></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/elo">elo</a></td>
        <td></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/elo.png?branch=master" /></td>
        <td><img src="https://coveralls.io/repos/orionsbelt-battlegrounds/elo/badge.png?branch=master" /></td>
        <td><a href="https://codeclimate.com/github/orionsbelt-battlegrounds/elo"><img src="https://codeclimate.com/github/orionsbelt-battlegrounds/elo.png" /></a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/obb-rules">obb-rules</a></td>
        <td></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/obb-rules.png?branch=master" /></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/obb-rules-api">obb-rules-api</a></td>
        <td><img src="https://www.statuscake.com/App/button/index.php?Track=gXC2Qbo9AK&Days=30&Design=5" /></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/obb-rules-api.png?branch=master" /></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/status">status</a></td>
        <td></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/status.png?branch=master" /></td>
        <td></td>
        <td><a href="https://codeclimate.com/github/orionsbelt-battlegrounds/status"><img src="https://codeclimate.com/github/orionsbelt-battlegrounds/status.png" /></a></td>
      </tr>
    </table>
  </body>
</html>
