<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>CodeBase</h2>
    <table>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/obb-api">obb-api</a></td>
        <td><img src="https://www.statuscake.com/App/button/index.php?Track=PdHw36q4gx&Days=30&Design=5" /></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/obb-api.png?branch=master" /></td>
        <td><a href='https://www.versioneye.com/user/projects/54524fe330a8fe1239000009'><img src='https://www.versioneye.com/user/projects/54524fe330a8fe1239000009/badge.svg?style=flat' alt="Dependency Status" /></a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/obb-ranking">obb-ranking</a></td>
        <td></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/obb-ranking.png?branch=master" /></td>
        <td><a href='https://www.versioneye.com/user/projects/5452512630a8fe03a7000007'><img src='https://www.versioneye.com/user/projects/5452512630a8fe03a7000007/badge.svg?style=flat' alt="Dependency Status" /></a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/obb-rules">obb-rules</a></td>
        <td></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/obb-rules.png?branch=master" /></td>
        <td><a href='https://www.versioneye.com/user/projects/54524ea830a8fe3fcb000004'><img src='https://www.versioneye.com/user/projects/54524ea830a8fe3fcb000004/badge.svg?style=flat' alt="Dependency Status" /></a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/obb-rules-api">obb-rules-api</a></td>
        <td><img src="https://www.statuscake.com/App/button/index.php?Track=gXC2Qbo9AK&Days=30&Design=5" /></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/obb-rules-api.png?branch=master" /></td>
        <td><a href='https://www.versioneye.com/user/projects/545250c530a8fe529600003e'><img src='https://www.versioneye.com/user/projects/545250c530a8fe529600003e/badge.svg?style=flat' alt="Dependency Status" /></a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/status">status</a></td>
        <td><img src="https://www.statuscake.com/App/button/index.php?Track=u7d2XUiNSv&Days=30&Design=5" /></td>
        <td><img src="https://travis-ci.org/orionsbelt-battlegrounds/status.png?branch=master" /></td>
        <td></td>
        <td></td>
        <td><a href="https://codeclimate.com/github/orionsbelt-battlegrounds/status"><img src="https://codeclimate.com/github/orionsbelt-battlegrounds/status.png" /></a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/orionsbelt-battlegrounds/web-client">web-client</a></td>
        <td><img src="https://www.statuscake.com/App/button/index.php?Track=H5DYwnbUlN&Days=7&Design=5" /></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
